*.py[co]

.idea
_assets
_old
_test
node_modules
bower_components
.tmp
tmp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

.DS_Store

config.conf
*.db
*.sublime-project
*.sublime-workspace
.tags
.tags_sorted_by_file

pkg/
appAuth
conf.json
linux-amd64/
*.conf
github/*.txt
url.txt
*.old

apis/apis
old/apis/apis
tmptest/
request.txt
docker_test.sh
req_docker.txt
tukdesk.css
